[submodule "lib/cmlib"]
	path = lib/cmlib
	url = https://github.com/ayberkt/cmlib
	branch = develop
[submodule "lib/sml-testing"]
	path = lib/sml-testing
	url = https://github.com/ayberkt/sml-testing
